# requirements.txt
numpy==1.24.3
python-dateutil
python-dotenv
streamlit
docxtpl
pandas
matplotlib
spacy==3.5.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.3/en_core_web_sm-3.5.3-py3-none-any.whl